div.footer{
    height: 200px;
    background-color: rgba(0,0,0,0.8);
    margin: 10px auto;
    border-radius: 10px;
    position: inherit;
    width: 100%;
}
div.footer p{
    font-size: 24px;
    color: blanchedalmond;
    margin: 15px;
    /* position: inherit; */
    /* padding: 20px; */
}
