
.glowing-shadow{
    box-shadow: 1px 1px 2px black, 0 0 25px whitesmoke, 0 0 5px darkblue;
}
.logo{
    height: 150px;
    border-radius: 10px;
    margin: auto 20px;
}
@media only screen and (min-width: 0px)
{
    .logo {
        height: 50px;
    }
    .nav-item-text{
        display: none;
    }
    .logo-hide{
        display: none;
    }
}

@media only screen and (min-width: 355px)
{
    .logo-hide{
        display: unset;
    }
}

@media only screen and (min-width: 480px){
    .logo {
        height: 50px;
    }
    .nav-item-text{
        display: inline-block;
    }
}

@media only screen and (min-width: 630px){
    .logo {
        height: 100px;
    }
    .nav-item-text{
        display: inline-block;
    }
}

@media only screen and (min-width: 992px){
    .logo {
        height: 100px;
    }
    .nav-item-text{
        display: inline-block;
    }
}

@media only screen and (min-width: 1200px){
    .logo {
        height: 150px;
    }
    .nav-item-text{
        display: inline-block;
    }
}
.header{
    width: 100%;
    padding: 10px;
    background-color: #28AFB0;
    box-shadow: 16px 8px rgba(121, 121, 121, 0.5);
    text-align: center;
}
.nav{
    background-color: #565264;
}
.nav a{
    /* border: 1px black solid; */
    text-align: center;
    font-size: 20px;
    
}
.nav i{
    margin-right: 5px;
}
.no-line-height{
    line-height:unset !important;
}
.nav a:hover{
    background-color: #DDE8B9;
    color:#565264;
}