* {
    box-sizing: border-box;
}

ul {
    margin: 0;
}

nav {
    position: relative;
    z-index: 2;
    height: 64px;
    background-color: transparent;
    box-shadow: none;
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
}

header {
    position: relative;
    width: 100%;
    min-height: 100vh;
}
header a{
    color: unset;
}

div.slider,
div.slider img,
div.slider ul,
div.slider li {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.nav-wrapper .logo{
    margin: 10px;
}

.nav-wrapper a{
    color: inherit;
}

#arrow{
    color: inherit;
    position: absolute;
    bottom: 3%;
    z-index:3;
    text-shadow: 1px 1px 2px black, 0 0 25px red, 0 0 5px whitesmoke;
}