* {
    box-sizing: border-box;
}

ul {
    margin: 0;
}

nav {
    position: relative;
    z-index: 2;
    height: 64px;
    background-color: transparent;
    box-shadow: none;
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
}

header {
    position: relative;
    width: 100%;
    min-height: 100vh;
}
header a{
    color: unset;
}

div.slider,
div.slider img,
div.slider ul,
div.slider li {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.nav-wrapper .logo{
    margin: 10px;
}

.nav-wrapper a{
    color: inherit;
}

#arrow,#arrow_s{
    color: inherit;
    position: absolute;
    bottom: 3%;
    left:calc(50vw - 0.5em);
    z-index:3;
    text-shadow:  0 0 5px whitesmoke;
}

.color-inherit{
    color: inherit;
}

#Albert{
    position: absolute;
    /* right: 5%; */
    left:74%
}

#Albert h2:hover .hover-HL{
    /* opacity: 1; */
    color: #f06292;
    display: unset;
}
#Albert_s h4:hover .hover-HL{
    /* opacity: 1; */
    color: #f06292;
    display: unset;
}

.invisable{
    /* opacity: 0; */
    display: none;
}
.cursor-pointer:hover{
    cursor:pointer;
}
.activator:hover{
    background-color: #e0e0e0 !important;
}
.card:hover{
    position: relative;
    top: -2px;
    left: -2px;
    box-shadow: 5px 5px 20px rgb(95, 95, 95);
}