* {
    box-sizing: border-box;
}

ul {
    margin: 0;
}

nav {
    position: relative;
    z-index: 2;
    height: 64px;
    background-color: transparent;
    box-shadow: none;
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
}

header {
    position: relative;
    width: 100%;
    min-height: 100vh;
}
header a{
    color: unset;
}

div.slider,
div.slider img,
div.slider ul,
div.slider li {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.nav-wrapper .logo{
    margin: 10px;
}

.nav-wrapper a{
    color: inherit;
}

#arrow,#arrow_s{
    color: inherit;
    position: absolute;
    bottom: 3%;
    left:calc(50vw - 0.5em);
    z-index:3;
    text-shadow:  0 0 5px whitesmoke;
}

#Albert>h2:hover .hover-HL{
    opacity: 1;
    color: rgb(255, 94, 228);
}
.invisable{
    opacity: 0;
}